@import "tailwindcss";
@import "@heroui/styles"; 

:root {
	--background: #ffffff;
	--foreground: #171717;
	--zblue: #3758BF;
	--zyellow: #F8DE59;
	--zpink:#F063A0;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #c7d1f0;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
